# CODEOWNERS for mypackage
# Syntax: <path-pattern> <owner1> <owner2> ...
# Owners listed here are automatically requested for review on PRs that
# touch matching paths. The last matching pattern wins.
# Docs: https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-security/customizing-your-repository/about-code-owners

# Default owner for everything in the repo.
*       @GB012028434_EYGS @GB012061221_EYGS
